@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Roboto.woff2) format('woff2');
  } */

@layer base {
  
  @font-face {
    font-family: 'Gilory';
    src: url("./fonts/gilroy/Gilroy-Heavy.ttf") format('truetype');
    font-weight: 400;
    /* Heavy weight */
  }

  @font-face {
    font-family: 'Gilory';
    src: url("./fonts/gilroy/Gilroy-Black.ttf") format('truetype');
    font-weight: 400;
    /* Black weight */
  }

  @font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy/Gilroy-ExtraBold.ttf") format('truetype');
    font-weight: 400;
    /* Extra Bold weight */
  }

  @font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy/Gilroy-Bold.ttf") format('truetype');
    font-weight: 400;
    /* Bold weight */
  }

  @font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy/Gilroy-SemiBold.ttf") format('truetype');
    font-weight: 400;
    /* semibold weight */
  }

  @font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy/Gilroy-Medium.ttf") format('truetype');
    font-weight: 400;
    /* Medium weight */
  }

  @font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy/Gilroy-Regular.ttf") format('truetype');
    font-weight: 400;
    /* Regular weight */
  }

  @font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy/Gilroy-Light.ttf") format('truetype');
    font-weight: 400;
    /* Light weight */
  }

  @font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy/Gilroy-UltraLight.ttf") format('truetype');
    font-weight: 400;
    /* UltraLight weight */
  }

  @font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy/Gilroy-Thin.ttf") format('truetype');
    font-weight: 400;
    /* Thin weight */
  }
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: "#F9F9F9";
}

.video-parent-div {
  position: relative;
  /* Needed for containing aspect ratio */
  padding-bottom: 15%;
  /* Aspect ratio for 16:9 videos */
  overflow: hidden;
}

.video-parent-div iframe,
.video-parent-div .react-player__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}